# Servidor
PORT=8080
TZ=America/La_Paz

# CORS
CORS_ORIGIN=*

# Base de Datos
DATABASE_URL=postgres://usuario:password@127.0.0.1:5432/nombredb

# JWT
AUTH_ACCESS_TTL=1d
AUTH_JWT_SECRET=tu-secreto-super-seguro-cambiar-en-produccion
